
- @guests.each  do |shopper| 
  .guets_shopper
    
    = "お客様名:#{shopper.name}"
    %br
    = "かな:#{shopper.kana }"
    %br
    ="電話番号:#{shopper.phone_number}" 
    %br
    ="  メールアドレス:#{shopper.mail}"
    %br
    ="郵便番号:#{shopper.adress_number}"
    %br
    ="お届け先:#{shopper.adress}"
    %br
    = "商品番号:#{shopper.number}"
  .sakujyo
    = link_to "削除",guest_path(shopper),method: :delete,data:{confirm: "削除しますか？"}