.items
  - @shopping.each do |member|
    .item
        

      .image
        = image_tag("#{member.images.first.src}")
      .name
        ="商品名:#{member.name}"
      %br
      .price
        ="値段:¥#{member.price}(送料税込)"
      %br

      .explains
        ="#{member.explain}"
      %br
      .shousai
        = link_to "詳しく見る",shopping_path(member.id),class:"shosaiz"


      - if user_signed_in?
        .sakujyo

          = link_to "削除",shopping_path(member),method: :delete
        .edit
          = link_to "編集",edit_shopping_path(member.id)
