= form_for @shopping,url: shopping_index_path do |f|
  .name 
    商品名
    = f.text_field :name 
  %br
  .price
    値段
    = f.text_field :price
  %br
  .explains
    商品説明
    = f.text_field :explain
  %br
  .number
    商品番号
    %br
    = f.text_field :number
  %br
  .images

    = f.fields_for :images do |i| 
      = i.file_field :src 
    
  = f.submit "確定する",class:"send" 