!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 美容室 TEDDY BOY'S
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .home 
        = link_to 'home',root_path
      .shopping
        = link_to 'shopping',shopping_index_path
      .link 
        = link_to 'access', access_index_path	
      .private 
        = link_to 'private(staff only)',private_index_path
    = yield
